@page "/product/add"
@model OnlineShoping.Pages.Products.AddModel
@{
 ViewData["Title"] = "ایجاد صفحه";
}


<div class="row" style="height:100vh;" >
    <div class="col-lg-12">
        <div class="card-box">
            <form method="POST" id="frmContact" enctype="multipart/form-data">
                <div class="form-group">
                
                    <label for="Url"> نام محصول *</label>
                    <input type="text" name="Product.Name" parsley-trigger="change" 
                           
                           placeholder=" نام محصول را وارد کنید" class="form-control" id="Url">
                </div>
                <div class="form-group">
                    <label for="Url"> قیمت محصول *</label>
                    <input type="text" name="Product.Price" parsley-trigger="change" 
                           
                           placeholder=" قیمت محصول را وارد کنید" class="form-control" id="Url">
               
                </div>
                <div class="form-group">
                    <label for="Url"> بارکد محصول *</label>
                    <input type="text" name="Product.Barecode" parsley-trigger="change" 
                           
                           placeholder="بارکد محصول را وارد کنید" class="form-control" id="Url">
                    
                </div>
                <div class="form-group">
                    <label for="" class="custom-file-label"> آپلود تصویر *</label>
                    <input type="file" asp-for="Photo"  parsley-trigger="change" 
                           placeholder="تصویر محصول را وارد کنید" class="custom-file-input form-control" id="Url">
                    <span asp-validation-for="Product.Photo" class="text-danger"></span>
                </div>
            
                <div class="form-group">
                    <label for="Title"> توضیحات کوتاه *</label>
                    <textarea type="text" dir="rtl" name="Product.Description" parsley-trigger="change" 
                              
                              class="form-control" id="TilteText">@Html.ValueFor(x => x.Product.Description) </textarea>

                    <span asp-validation-for="Product.Description" class="alert-danger"></span>
                </div>

                <div class="form-group text-right m-b-0">
                   
                   
                        <button class="btn btn-primary waves-effect waves-light" type="submit">
                            <span>ایجاد</span>
                        </button>
                 
                 
                    <button type="reset" onclick="history.go(-1); return false;" class="btn btn-default waves-effect waves-light m-l-5">
                        لغو
                    </button>
                </div>


            </form>

        </div>
    </div><!-- end col -->

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("Change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}



