@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="swiper-slide-bg elementor-ken-burns--active">
</div>
<a class="swiper-slide-inner" href="https://tetraaqua.ir/shop/?filter_brand=tropical">
    <div class="swiper-slide-contents animated fadeInDown" style=""></div>
</a>  